#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.jsx css */

.app {
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 200px;
}

button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  border: 1px solid #ccc;
  text-align: left;
}

.error {
  color: red;
  text-align: center;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-weight: bold;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  width: 250px;
  height: 100px;
}
.chart {
  margin-top: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background: #fafafa;
}
